@model BlogFitnessApp.Models.ViewModels.AddBlogPostRequest

<div class="container-lg py-5">
    <div class="text-center mb-5">
        <h2 class="fw-bold">Agregar nuevo blog - Función de administrador</h2>
        <p class="text-muted">Aquí puedes ver todas las etiquetas que se usan para clasificar las publicaciones</p>
    </div>

    <div class="card p-5 shadow-lg rounded-4 mx-auto" style="max-width: 940px;">
        <form method="post">

            <div class="mb-3">Heading
                <label asp-for="Heading" class="form-label" >Encabezado</label>
                <input asp-for="Heading" id="Heading" class="form-control" />
                <span asp-validation-for="Heading" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="PageTitle" class="form-label">Título de página</label>
                <input asp-for="PageTitle" id="PageTitle" class="form-control" />
                <span asp-validation-for="PageTitle" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Content" class="form-label">Contenido</label>
                <textarea asp-for="Content" id="Content" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="ShortDescription" class="form-label">Descripción corta</label>
                <textarea asp-for="ShortDescription" id="ShortDescription" class="form-control" rows="2"></textarea>
                <span asp-validation-for="ShortDescription" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Author" class="form-label">Autor</label>
                <input asp-for="Author" id="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>

            @* Implementando campo para subir imagenes desde el formulario  *@
            <div class="mb-3">
                <label class="form-label">Subir Imagen</label>
                <input type="file" name="name" id="featuredImagenUpload" class="form-control" />
                <img src="" id="featuredImagenDisplay" style="display:none; margin-top:1rem;" width="285px" />
            </div>


            <div class="mb-3">
                <label asp-for="FeaturedImageUrl" class="form-label">URL de imagen destacada</label>
                <input asp-for="FeaturedImageUrl" id="featuredImageUrl" class="form-control" />
                <span asp-validation-for="FeaturedImageUrl" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="UrlHandle" class="form-label">Identificador URL</label>
                <input asp-for="UrlHandle" id="UrlHandle" class="form-control" />
                <span asp-validation-for="UrlHandle" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="PublishedDate" class="form-label">Fecha de publicación</label>
                <input asp-for="PublishedDate" id="PublishedDate" type="date" class="form-control" />
                <span asp-validation-for="PublishedDate" class="text-danger"></span>
            </div>

            <div class="form-check mb-4">
                <input asp-for="Visible" class="form-check-input" type="checkbox" />
                <label asp-for="Visible" id="Visible" class="form-check-label">Es Visible</label>
            </div>

            <!-- Campo desplegable para seleccionar una etiqueta del blog.
            Las opciones se cargan desde Model.Tags y el valor seleccionado
            se asigna a SelectedTag -->
            <div class="mb-3">
                <label asp-for="SelectedTag" class="form-label">Etiquetas</label>
                <select class="form-select"
                        asp-items="@Model.Tags"
                        asp-for="SelectedTag">
                </select>
            </div>


            <div class="d-grid">
                <button type="submit" class="btn btn-dark btn-lg">Guardar publicación</button>
            </div>
        </form>
    </div>
</div>




@* Integracion del editor de texto enriquecido Froala, aplicado al campo 'Content' *@
@section Scripts {
    <script>
        var editor = new FroalaEditor('#Content',{
            imageUploadURL:'/api/images';
        });

        //subir imagen y obtener su URL
        const featuredImageUploadElement = document.getElementById('featuredImagenUpload');
        const featuredImageUrlElement = document.getElementById('featuredImageUrl');
        const featuredImagenDisplayEelemnt = document.getElementById('featuredImagenDisplay');


            async function uploadFeautureImage(e) {
            console.log('Subiendo imagen..', e.target.files[0]);

            let data = new FormData();
            data.append('file', e.target.files[0]);

            await fetch('/api/images', {
                method: 'POST',
                headers: {
                    'Accept': '*/*'
                },
                body: data
            })
            .then(response => response.json())
            .then(result => {
                console.log('Respuesta del servidor:', result);
                featuredImageUrlElement.value = result.link; //Asigna esa URL al input oculto
                featuredImagenDisplayEelemnt.src = result.link;
                featuredImagenDisplayEelemnt.style.display = "block";
            })
            .catch(error => {
                console.error('Error al subir la imagen:', error);
            });
        };

        //Evento para capturar el cambio
        featuredImageUploadElement.addEventListener('change', uploadFeautureImage);
    </script>
}
