@model BlogFitnessApp.Models.ViewModels.EditBlogPostRequest

<div class="container-lg py-5">
    <div class="text-center mb-5">
        <h2 class="fw-bold">Editar publicación del blog - Función de administrador</h2>
        <p class="text-muted">Modifica los detalles de la publicación del blog.</p>
    </div>

    <div class="card p-5 shadow-lg rounded-4 mx-auto" style="max-width: 940px;">
        @if (Model != null)
        {
            <form method="post">
                <div class="mb-3">
                    <label class="form-label">Id</label>
                    <input type="text" asp-for="Id" id="Id" class="form-control" readonly />
                </div>

                <div class="mb-3">
                    <label asp-for="Heading" class="form-label">Encabezado</label>
                    <input asp-for="Heading" id="Heading" class="form-control" />
                    <span asp-validation-for="Heading" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="PageTitle" class="form-label">Título de página</label>
                    <input asp-for="PageTitle" id="PageTitle" class="form-control" />
                    <span asp-validation-for="PageTitle" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Content" class="form-label">Contenido</label>
                    <textarea asp-for="Content" id="Content" class="form-control" rows="5"></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="ShortDescription" class="form-label">Descripción corta</label>
                    <textarea asp-for="ShortDescription" id="ShortDescription" class="form-control" rows="2"></textarea>
                    <span asp-validation-for="ShortDescription" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Author" class="form-label">Autor</label>
                    <input asp-for="Author" id="Author" class="form-control" />
                    <span asp-validation-for="Author" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="FeaturedImageUrl" class="form-label">URL de imagen destacada</label>
                    <input asp-for="FeaturedImageUrl" id="FeaturedImageUrl" class="form-control" />
                    <span asp-validation-for="FeaturedImageUrl" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="UrlHandle" class="form-label">Identificador URL</label>
                    <input asp-for="UrlHandle" id="UrlHandle" class="form-control" />
                    <span asp-validation-for="UrlHandle" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="PublishedDate" class="form-label">Fecha de publicación</label>
                    <input asp-for="PublishedDate" id="PublishedDate" type="date" class="form-control" />
                    <span asp-validation-for="PublishedDate" class="text-danger"></span>
                </div>

                <div class="form-check mb-4">
                    <input asp-for="Visible" class="form-check-input" type="checkbox" />
                    <label asp-for="Visible" id="Visible" class="form-check-label">Es Visible</label>
                </div>

                <div class="mb-3">
                    <label class="form-label">Etiquetas</label>
                    <select class="form-select" asp-items="@Model.Tags" asp-for="SelectedTag" >
                        "SelectedTag">
                    </select>
                </div>

                <div class="d-flex gap-4">
                    <button type="submit" class="btn btn-dark btn-lg">Actualizar publicación</button>

                    <button asp-area=""
                            asp-action="Delete"
                            asp-controller="AdminBlogPosts"
                            asp-route-id="@Model.Id"
                            type="submit"
                            class="btn btn-danger fw-bold py-2 rounded-3 flex-grow-1">
                        <i class="bi bi-trash me-2"></i>Eliminar
                    </button>
                </div>
            </form>
        }
        else
        {
            <p class="text-danger">No se encontró la publicación del blog para editar.</p>
        }
    </div>
</div>

@* Integracion del editor de texto enriquecido Froala, aplicado al campo 'Content' *@
@section Scripts {
    <script>
        var editor = new FroalaEditor('#Content');
    </script>
}
