@model BlogFitnessApp.Models.ViewModels.LoginViewModel;

<div class="container-fluid d-flex flex-column mb-5">
    <h1 class="mb-3 fw-bold text-capitalize text-start display-5 p-3" style="margin-left: 5rem;">
        Regístrate
    </h1>

    <div class="row w-100 d-flex justify-content-center">
        <!-- Columna del formulario -->
        <div class="col-lg-5 vh-100 d-flex flex-column justify-content-evenly p-5 bg-light rounded-4 overflow-hidden shadow-lg">
            <!-- Logo grande centrado -->
            <div class="mb-5 text-center">
                <span class="display-3 fw-bold text-success">Fitness</span>
            </div>

            <!-- Formulario -->
            <form asp-action="Login">
                <div class="mb-4 input-group">
                    <input type="text" class="form-control rounded" placeholder="Nombre de usuario" id="UserName" asp-for="UserName" />
                </div>

                <div class="mb-4 input-group">
                    <input type="password" class="form-control rounded" placeholder="Contraseña" id="Password" asp-for="Password" />
                </div>

                <div class="d-grid gap-2 mb-3">
                    <button class="btn btn-success rounded-pill py-2" type="submit">Iniciar Sesión</button>
                </div>

                <p class="mt-4 small fw-bold text-center">
                    ¿No tienes una cuenta?
                    <a href="/Account/Register" class="text-warning text-decoration-none">Regístrate</a>
                </p>
            </form>
        </div>

        <!-- Columna de imagen  -->
        <div class="col-lg-5 p-0 d-none d-lg-block position-relative">
            <div style="
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(255, 255, 255, 0.2)),
                            url('https://images.pexels.com/photos/5262925/pexels-photo-5262925.jpeg') no-repeat center center;
                background-size: cover;
                height: 100%;
                width: 100%;">
            </div>
        </div>
    </div>
</div>
