@* Modelo  en el formulario que contiene las propiedades necesarias para crear una nueva etiqueta *@
@model BlogFitnessApp.Models.ViewModels.AddTagRequest

<div class="container d-flex align-items-center justify-content-center" style="min-height: 100vh;">
    <div class="card p-5 shadow-lg rounded-4" style="width: 100%; max-width: 600px;">

        <h2 class="fw-bold text-center mb-4 mt-2 text-uppercase text-dark">Nueva Etiqueta</h2>

       

        <!-- Formulario para agregar etiqueta -->
        <form method="post" novalidate>
            <div class="mb-4">
                <label asp-for="Name" class="form-label fw-semibold text-dark">Nombre Técnico</label>
                <input asp-for="Name" id="Name" class="form-control form-control-lg rounded-3" placeholder="Ej: fuerza, cardio, nutrición" />
                <span asp-validation-for="Name" class="text-danger small"></span>
            </div>

            <div class="mb-4">
                <label asp-for="DisplayName" class="form-label fw-semibold text-dark">Nombre para Mostrar</label>
                <input asp-for="DisplayName" id="DisplayName" class="form-control form-control-lg rounded-3" placeholder="Ej: Entrenamiento de Fuerza" />
                <span asp-validation-for="DisplayName" class="text-danger small"></span>
            </div>

            <button type="submit" class="btn btn-dark fw-bold w-100 py-2 rounded-3">
                <i class="bi bi-plus-circle me-2"></i>Crear Etiqueta
            </button>
        </form>
    </div>
</div>
