@* Indicamos que el modelo recibido es una lista de objetos de tipo Tag *@
@model List<BlogFitnessApp.Models.Domain.Tag>

<div class="container-lg py-5">
    <div class="text-center mb-5">
        <h2 class="fw-bold">Etiquetas del Blog</h2>
        <p class="text-muted">Aquí puedes ver todas las etiquetas que se usan para clasificar las publicaciones</p>
    </div>

    @* Verificamos si el modelo no es nulo y contiene elementos *@
    @if (Model != null && Model.Any())
    {
        <div class="table-responsive">
            <table class="table table-bordered table-hover  shadow-sm">
                <thead class="table-dark text-center">
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Nombre para Mostrar</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var tag in Model)
                    {
                        <tr>
                            <td>@tag.Name</td>
                            <td>@tag.DisplayName</td>
                            <td class="text-center">
                                <a 
                                asp-area=""
                                   asp-controller="AdminTags"
                                   asp-action="Edit"
                                asp-route-id="@tag.Id"
                                class="btn btn-sm btn-outline-secondary rounded me-2">Editar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <div class="alert alert-warning text-center" role="alert">
            <h5 class="mb-1">No hay etiquetas para mostrar</h5>
            <p class="mb-0"><small>Agrega una etiqueta para empezar a organizar tus publicaciones</small></p>
        </div>
    }
</div>
